@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.pic {
	border-radius: 30px;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}


.vid1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 30%;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.pic1{
	width: 30%;
	position: relative;
}

.information{
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	width: 28%;
	margin-right: 20px;
	text-align: justify;
	position: relative;
	right: 2%;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.mid_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.code1 {
	width: 18%;
	position: relative;
	left: 2%;
}

.code2 {
	width: 38%;
	position: relative;
}

.code3 {
	width: 38%;
	position: relative;
	right: 2%;
}

.bottom_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.code4 {
	width: 20%;
	position: relative;
	left: 2%;
}

.sketch {
	width: 60%;
	right: 10%;
	position: relative;
}

@media (max-width: 1100px){

	.vid1 {
		width: 40%;
	}
	.pic1 {
		width: 40%;
		right: 2%;
	}
	.information {
		flex: 100%;
		padding: 35px;
	}
}

@media (max-width: 750px) {
	.top_info {
		top: 80px;
	}

	.navbar .logo a{
		color: #fff;
		font-size: 12px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 9px;

	}
}

@media (max-width: 700px){
	.top_info {
		top: 80px;
	}
	.text {
		font-size: 18px;
	}
	.vid1, .pic1 {
		flex: 100%;
		padding: 10px;
		left: 0%;
		right: 0%;
	}

	.code1, .code2, .code3, .code4, .sketch {
		flex: 100%;
		padding: 40px;
		left: 0%;
		right: 0%;
	}
}